.btn {
  display: flex;
  justify-content: center;
  align-content: center;

  height: 36px;
  width: 120px;

  border: 2px solid $color-blue;
  border-radius: 8px;

  color: $color-blue;
  line-height: 36px;
  font-weight: 700;

  transition: background-color 250ms;

  &:hover {
    background-color: $color-blue-light;
  }

  &.is-active {
    color: $color-white;
    background-color: $color-blue;
  }
}
