.header {
  display: flex;
  justify-content: space-evenly;

  padding: 15px;
  margin-bottom: 20px;

  border-bottom: 1px solid $color-gray-light;

  @include tablet {
    justify-content: space-between;
  }

  &-nav {
    display: flex;
    gap: 15px;

    @include tablet {
      gap: 30px;
    }

    @include desktop {
      gap: 50px;
    }
  }

  &-select {
    width: 70px;
    padding: 5px;
    border: 1px solid $color-grey-dark;
    border-radius: 8px;

    &:focus-visible {
      outline: none;
    }
  }

  a {
    align-items: center;
  }
}
