.header {
  display: flex;
  justify-content: space-evenly;

  padding: 15px;
  margin-bottom: 10px;

  border-bottom: 1px solid $color-grey-light;

  @include tablet {
    justify-content: start;
    gap: 30px;
  }

  @include desktop {
    gap: 50px;
  }
}
