* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-black;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
